## ----- colorscheme
plugins-color/start/iceberg
plugins-color/start/molokai
plugins-color/start/monochrome
plugins-color/start/nord
plugins-color/start/solarized
plugins-color/start/tender
plugins-color/start/tomorrow-theme
plugins-color/start/xterm-color-table
## ----- ui
plugins-ui/start/lightline
## ----- syntax/languages
plugins-syn/start/ale
plugins-syn/start/autotag
plugins-syn/start/closer
plugins-syn/start/indent-sh
plugins-syn/start/polyglot
plugins-syn/start/prettier
plugins-syn/start/supertab
## ----- lisp/clojure
plugins-clj/start/cljfmt
plugins-clj/start/eastwood
plugins-clj/start/fireplace
plugins-clj/start/paredit
## ----- utilities, etc
plugins-util/start/ack
plugins-util/start/clam
plugins-util/start/dirdiff
plugins-util/start/fzf
plugins-util/start/kwbd
plugins-util/start/matchit
plugins-util/start/nerdtree
## ----- tpope
plugins-syn/start/commentary
plugins-syn/start/endwise
plugins-util/start/abolish
plugins-util/start/fugitive
plugins-util/start/surround
