## ----- colorscheme
plugins-color/start/colors-pencil
plugins-color/start/gruvbox
plugins-color/start/iceberg
plugins-color/start/kalisi
plugins-color/start/lucius
plugins-color/start/molokai
plugins-color/start/nord
plugins-color/start/oceanic-next
plugins-color/start/papercolor-theme
plugins-color/start/selenized
plugins-color/start/seoul256
plugins-color/start/solarized8
plugins-color/start/summerfruit256
plugins-color/start/tomorrow-theme
plugins-color/start/xterm-color-table
## ----- ui
plugins-ui/start/boxdraw
plugins-ui/start/lightline
plugins-ui/start/sneak
plugins-ui/start/startify
plugins-ui/start/vimux
## ----- syntax/languages
plugins-syn/start/ale
plugins-syn/start/commentary
plugins-syn/start/fastfold
plugins-syn/start/go
plugins-syn/start/indent-sh
plugins-syn/start/kotlin
plugins-syn/start/mucomplete
plugins-syn/start/prettier
plugins-syn/start/pgsql
plugins-syn/start/repl
plugins-syn/start/snippets
plugins-syn/start/splitjoin
plugins-syn/start/terraform
## ----- lisp/clojure
plugins-clj/start/cljfmt
plugins-clj/start/eastwood
plugins-clj/start/fireplace
## ----- utilities, etc
plugins-util/start/abolish
plugins-util/start/ack
plugins-util/start/clam
plugins-util/start/dadbod
plugins-util/start/dadbod-ui
plugins-util/start/dirdiff
plugins-util/start/fugitive
plugins-util/start/fzf
plugins-util/start/kwbd
plugins-util/start/matchit
plugins-util/start/rest-console
plugins-util/start/undotree
plugins-util/start/vinegar
