## ----- colorscheme
plugins-color/start/gruvbox
plugins-color/start/iceberg
plugins-color/start/molokai
plugins-color/start/nord
plugins-color/start/oceanic-next
plugins-color/start/papercolor-theme
plugins-color/start/selenized
plugins-color/start/solarized
plugins-color/start/solarized8
plugins-color/start/summerfruit256
plugins-color/start/tomorrow-theme
plugins-color/start/xterm-color-table
## ----- ui
plugins-ui/start/boxdraw
plugins-ui/start/lightline
plugins-ui/start/vimux
## ----- syntax/languages
plugins-syn/start/ale
plugins-syn/start/auto-pairs
plugins-syn/start/fastfold
plugins-syn/start/indent-sh
plugins-syn/start/mucomplete
plugins-syn/start/polyglot
plugins-syn/start/prettier
plugins-syn/start/repl
plugins-syn/start/snippets
## ----- lisp/clojure
plugins-clj/start/cljfmt
plugins-clj/start/eastwood
plugins-clj/start/fireplace
## ----- utilities, etc
plugins-util/start/ack
plugins-util/start/clam
plugins-util/start/dirdiff
plugins-util/start/fzf
plugins-util/start/kwbd
plugins-util/start/matchit
## ----- tpope in syn and util
plugins-syn/start/commentary
plugins-util/start/abolish
plugins-util/start/fugitive
plugins-util/start/surround
plugins-util/start/undotree
plugins-util/start/vinegar
